/* Reset y configuración base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: "Montserrat", "Poppins", Arial, sans-serif;
  background: #fff;
}

/* Footer */
footer {
  align-self: end;
}

.footer-container {
  width: 100%;
  background-color: #661b1e;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  padding: 50px 40px 20px;
}

.footer-logo {
  width: 300px;
  height: auto;
  filter: drop-shadow(0 20px 20px rgba(0, 0, 0, 0.25));
}

.footer-section h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #fff;
}

.footer-section ul {
  list-style: none;
}

.footer-section li {
  margin-bottom: 10px;
}

.footer-section a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.footer-copy {
  grid-column: 1 / 4;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  padding-top: 30px;
}
