/* Estilos específicos del menú hamburguesa */
.menu-panel {
  height: 100vh;
  width: 350px;
  padding: 28px 24px;
  border-radius: 0 30px 30px 0;
  background: #F7F5F5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.brand {
  color: #000;
  font-size: 32px;
  font-weight: 500;
  line-height: normal;
  width: 100%;
  text-align: center;
  margin: 20px 0 30px;
}

.main-menu {
  flex-grow: 1;
  margin-top: 0;
  width: 100%;
}

.menu-list {
  list-style: none;
}

.menu-list li {
  margin-bottom: 20px;
}

.menu-list li:last-child {
  margin-bottom: 0;
}

.menu-link {
  display: block;
  padding: 5px 0;
  border-bottom: 2px solid #000;
  text-decoration: none;
  color: inherit;
}

.user-menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 40px;
  width: 100%;
}

.account-link,
.logout-link {
  text-decoration: none;
  color: inherit;
}