/* Reset y configuración base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: "Montserrat", "Poppins", Arial, sans-serif;
  background: #fff;
}

/* Header base */
.header-semicircle,
.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.header-semicircle {
  z-index: 0;
}

.header-container {
  height: 100px;
  display: grid;
  place-items: center;
}

.header-nav {
  width: 100%;
  display: flex;
  justify-content: center; /* Centra el contenido */
  align-items: center;
  padding: 0 40px;
}

/* Logo */
.header-logo {
  width: 175px;
  height: auto;
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}