/* Reset y configuración base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: "Montserrat", "Poppins", Arial, sans-serif;
  background: #fff;
}

/* Header */
.header-semicircle,
.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.header-semicircle {
  z-index: 0;
}

.header-container {
  height: 100px;
  display: grid;
  place-items: center;
}

.header-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  color: #8b8585;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}

.nav-right {
  gap: 40px;
}

.icon {
  width: 30px;
  height: 30px;
  margin-bottom: 12px;
}

.hamburguer-menu .icon {
  margin-bottom: 0;
}

.header-logo {
  width: 175px;
  height: auto;
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

/* Footer */
footer {
  align-self: end;
}

.footer-container {
  width: 100%;
  background-color: #661b1e;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  padding: 50px 40px 20px;
}

.footer-logo {
  width: 300px;
  height: auto;
  filter: drop-shadow(0 20px 20px rgba(0, 0, 0, 0.25));
}

.footer-section h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #fff;
}

.footer-section ul {
  list-style: none;
}

.footer-section li {
  margin-bottom: 10px;
}

.footer-section a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.footer-copy {
  grid-column: 1 / 4;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  padding-top: 30px;
}