<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/front/assets/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/hamburguer_menu.css" />
  <title>Menú AFERGOLF</title>
</head>
<body>
  <aside class="menu-panel" role="navigation" aria-label="Menú principal AFERGOLF">
    <h1 class="brand">AFERGOLF</h1>
    <div class="menu-section main-menu">
      <nav>
        <ul class="menu-list">
          <li><a href="../views/catalog.html" class="menu-link">Catálogo de productos</a></li>
          <li><a href="../views/catalog_services.html" class="menu-link">Catálogo de servicios</a></li>
          <li><a href="#" class="menu-link">Nosotros</a></li>
          <li><a href="#" class="menu-link">Contacto</a></li>
        </ul>
      </nav>
    </div>

    <div class="menu-section user-menu">
      <a href="#" class="account-link">Mi cuenta</a>
      <a href="#" class="logout-link">Cerrar sesión</a>
    </div>
  </aside>
</body>
</html>
