<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>AFERGOLF – Mi Cuenta</title>
  <link rel="stylesheet" href="../assets/css/pages/my_account.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <script src="../assets/js/main.js" defer></script>
</head>

<body>
  <afergolf-header></afergolf-header>

  <main>
    <section class="account" aria-labelledby="titulo-cuenta">
      <div class="account-card" role="region" aria-labelledby="titulo-cuenta">
        <h2 id="titulo-cuenta" class="account-title">Mi Cuenta</h2>

        <p><strong>Nombres</strong><br>Samuel David</p>
        <p><strong>Apellidos</strong><br>Fernandez Urrea</p>
        <p><strong>Correo Electrónico</strong><br>Samdezurrea@gmail.com</p>
        <p><strong>Dirección</strong><br>Dg 87C # 334-97</p>

        <div class="account-links">
          <a class="link" href="#">Editar Perfil</a>
          <a class="link" href="#">Historial de Compras</a>
        </div>

        <button class="btn-logout" type="button">Cerrar sesión</button>
      </div>
    </section>
  </main>

  <afergolf-footer></afergolf-footer>
</body>
</html>
