<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Servicio de Fitting AFERGOLF - Ajustamos tus palos a tu medida para mayor comodidad, precisión y potencia">
  <title>Fitting - AFERGOLF</title>
  <link rel="icon" type="image/svg+xml" href="../assets/img/Logo.svg">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/pages/services.css" />
  <link rel="stylesheet" href="../assets/css/toast.css">
  <script src="../assets/js/config.js"></script>
  <script src="../assets/js/ui/toast.js" defer></script>
  <script src="../assets/js/auth/session_control.js" defer></script>
  <script src="../assets/js/main.js" defer></script>
  <script src="../assets/js/ui/components.js" defer></script>
</head>

<body>
  <afergolf-header></afergolf-header>

  <!-- información del servicio de fitting -->
  <main>
    <section class="banner-fitting" aria-label="Fitting">
      <img src="../assets/img/services/Fitting.png" alt="">
    </section>  

    <section class="service-inner">
      <h1 class="service-title">Fitting</h1>

      <p class="service-text">
        Ajustamos tus palos a tu medida para que juegues con más comodidad, precisión y potencia. 
        Con un fitting profesional, tu equipo trabajará a tu favor y cada golpe contará. Nuestro 
        análisis integral garantiza que cada aspecto de tu palo esté optimizado para tu swing único.
      </p>

      <ul class="service-points">
        <li>Medición personalizada: Ajustamos la longitud del palo según tu estatura y postura específica.</li>
        <li>Selección de varilla: Elegimos el tipo y flexibilidad que mejor se adapten a tu velocidad de swing.</li>
        <li>Ángulo de la cabeza (lie y loft): Optimizamos la trayectoria y precisión de tus golpes.</li>
        <li>Grip a tu medida: Elegimos el grosor y material ideal para mayor comodidad y control.</li>
        <li>Swing Weight: Balanceamos el peso para mejorar consistencia y maximizar distancia.</li>
        <li>Pruebas en campo o simulador: Verificamos todos los ajustes con golpes reales y análisis de datos.</li>
      </ul>
    </section>
  </main>

  <afergolf-footer></afergolf-footer>
</body>
</html>