*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 100px;
    background-color: #F7F5F5;
    display: grid;
    place-items: center;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.35);
}