*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.rectangle-header{
    width: 100%;
    height: 100px;
    background-color: #F7F5F5;
    display: flex;
    justify-content: center;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.35);
}

.rectangle-header nav {
    width: 100%;
}

ul{
    list-style: none;
    width: 100%;
    height: auto;
    align-items: center;
}
.nav-header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.icons-header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hamburguer-menu {
  margin-left: 20px;
}

.right-icons {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.search, .user, .cart {
  margin-left: 20px;
}
